{% extends "base.html" %}
{% block content %}
    <div class="formstyle">
        <h1 class="h1style">List of Accounts</h1>
        <h2><small>Select an account to view</small></h2>
        <form action="{% url 'accountlist' %}" method="POST">
            <select size="4" id="accounts" name="accounts">
                {% for i in accounts %}
                <option value={{ i.2 }}>{{ i.0 }}</option>
                {% endfor %}
            </select><br><br>
            {% csrf_token %}
            <label>
                <input type="submit" value="Edit Account" name="onclick">
                <input type="submit" value="Create New Account" name="onclick">
            </label>
        </form>
    </div>
    {% endblock %}
