{% extends "base.html" %}

{% block content %}

<h1>Assign TA to {{ designation }}</h1>

<form method="post" action="{% url 'assigntas' course=designation %}">
    {% csrf_token %}
    <label for="taUsername">Select TA:</label>
    <select id="taUsername" name="taUsername">
        {% for i in TAs %}
            <option value="{{ i.1 }}">{{ i.0 }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Submit">
</form>

<a href="{% url 'edit' course=designation %}">Go Back</a>

{% if message %}
    <hr>
    <p>{{ message }}</p>
{% endif %}

{% endblock %}