{% extends 'base.html' %}

{% block content %}

<h1>Assign Instructor to {{ designation }}-{{ section }}</h1>

<form action="{% url 'addinst' course=designation section=section %}" method="post">
    {% csrf_token %}
    <label for="instructorUsername">Select Instructor:</label>
    <select id="instructorUsername" name="instructorUsername">
        {% for i in instructors %}
            <option value="{{ i.1 }}">{{ i.0 }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Submit">
</form>

    <a href="{% url 'edit' course=designation %}">Go Back</a>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

{% endblock %}