<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Create Account</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>Create Account</h1>
    <form action="" method="post">
        <label for="position">Position: </label>
            <select name="position" id="position">
                {% for i in positions %}
                    <option value="{{ i.id }}">{{ i.name }}</option>
                {% endfor %}
            </select><br><br>
        <div class="container">
            <label for="username">Username: </label>
            <input type="text" id="username" name="username"><br><br>
            <label for="fName">First name: </label>
            <input type="text" id="fName" name="fName"><br><br>
            <label for="lName">Last name: </label>
            <input type="text" id="lName" name="lName"><br><br>
            <label for="address1">Address line 1:</label>
            <input type="text" id="address1" name="address1"><br><br>
            <label for="address2">Address line 2:</label>
            <input type="text" id="address2" name="address2"><br><br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email"><br><br>
            <label for="PhoneNumber">Phone:</label>
            <input type="text" id="PhoneNumber" name="PhoneNumber"><br><br>
        </div>
        <input type="submit" value="Create Account">
        <input type="submit" value="Cancel">
        <div class="logoutLblPos">
            <button type="submit" onclick="window.location.href='/Homepage/';" >Back to Home</button>
            <button type="submit" onclick="window.location.href='';" >Logout</button>
        </div>
    </form>

</body>
</html>
