{% extends "base.html" %}

{% block content %}

{% if message %}
    <p>{{ message }}</p><br>
{% endif %}
{% if username %}
    <p>Username is: {{ username }}</p>
{% endif %}
<form action="/test_create/" method="post">
    {% csrf_token %}
    <label for="fname">First Name:</label>
    <input type="text" id="fname" name="first_name"><br>
    <label for="lname">Last Name:</label>
    <input type="text" id="lname" name="last_name"><br>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"><br>
    <label for="pass">Password:</label>
    <input type="text" id="pass" name="password"><br>
    <label for="title">Title:</label>
    <input type="text" id="title" name="title"><br>
    <input type="hidden" name="addressln1" value="3400 N Maryland">
    <input type="hidden" name="addressln2" value="Milwaukee wi 53211">
    <input type="hidden" name="number" value="123456789">
    <input type="hidden" name="email" value="user@user.com">
    <input type="submit" value="submit">
</form>

<br>

{% if list %}
    <table>
        {% for i in list %}
            <tr><td>
                <table>
                <tr><th>{{ i.0 }}</th></tr>
                {% for j in i.2 %}
                    <tr><td class="sections">{{ j }}</td></tr>
                {% endfor %}
                {% for j in i.3 %}
                    <tr><td class="labs">{{ j }}</td><td>Assign TA</td></tr>
                {% endfor %}
                </table>
            </td></tr>
        {% endfor %}
    </table>
    <br><br>
{% endif %}
{% if users %}
    <table style="border: 1px solid black;">
        <thead>
            <th>Name</th>
            <th>Position</th>
        </thead>
        {% for i in users %}

            <tr>
            <td><a href="{% url 'test' username=i.2 %}">{{ i.0 }}</a></td>
            <td>{{ i.1 }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
{% endif %}
{% if courses %}
    <form>
    <label for="title">Title:</label>
    <input name="title" value="{{ courses.title }}" readonly>
    <label for="designation">Designation</label>
    <input name="designation" value="{{ courses.designation }}" readonly>
    </form>
{% endif %}

{% endblock %}