{% extends "base.html" %}

{% block content %}
<h1 class="h1Style">Edit Course</h1>

{% if position == "S" %}
<table>
    <tr>
        <th colspan="2">Supervisor Tools</th>
    </tr>
    <tr>
        <td><a href="{% url 'assigntas' course=course.designation %}">Add TA to Course</a></td>
        <td><a href="{% url 'addsection' course=course.designation %}">Add Section</a></td>
    </tr>
</table>
{% endif %}

<div class="formStyle">
    <table>
        <tr>
            <td>Title:</td>
            <td>{{ course.title }}</td>
        </tr>
        <tr>
            <td>Designation:</td>
            <td>{{ course.designation }}</td>
        </tr>
        <tr>
            <td>Semester:</td>
            <td>{{ course.semester }}</td>
        </tr>
    </table>
    <br>
    <table class="courselists">
        {% if course.sections%}
        <tr>
            <th>Section</th>
            <th {% if position != "S" %}colspan="2" {% endif %}>Instructor</th>
            {% if position == "S" %}<th>Assign</th>{% endif %}
        </tr>
        {% for s in course.sections %}
        <tr>
            <td>{{ s.section }}</td>
            <td {% if position != "S" %}colspan="2" {% endif %}>{% if s.instructor != None %}{{ s.instructor.get_full_name }}{% else %}Staff{% endif %}</td>
            {% if position == "S" %}<td><a href="{% url 'addinst' course=course.designation section=s.section%}">Assign Instructor</a></td>{% endif %}
        </tr>
        {% endfor %}
        {% endif %}
        {% if course.labs %}
        <tr>
            <th>Section</th>
            <th>TA</th>
            {% if position != "T" %}<th>Assign TA</th>{% endif %}
        </tr>
        {% for s in course.labs %}
        <tr>
            <td>{{ s.section }}</td>
            <td>{% if s.TA != None %}{{ s.TA.get_full_name }}{% else %}Staff{% endif %}</td>
            {% if position != "T" %}<td><a href="{% url 'addta' course=course.designation lab=s.section%}">Assign TA</a></td>{% endif %}
        </tr>
        {% endfor %}
        {% endif %}

    </table>

    <br>

    <a href="{% url 'courses' %}">Go back</a>
</div>
{% endblock %}
