<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Edit Account</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>Edit Account</h1>
    <form action="/edit_account/" method="post">
    {% csrf_token %}
        <div class="container">
            <label for="username">Username: {{ account.username }}</label><br><br>
            <!--<label for="title">Title: {{ account.position }}</label><br><br> -->

            <label for="first_name">First name:</label>
            <input type="text" id="first_name" name="first_name" value="{{ account.first_name }}"><br><br>

            <label for="last_name">Last name: </label>
            <input type="text" id="last_name" name="last_name" value="{{ account.last_name }}"><br><br>

            <label for="addressln1">Address line 1:</label>
            <input type="text" id="addressln1" name="addressln1" value="{{ account.addressln1 }}"><br><br>

            <label for="addressln2">Address line 2:</label>
            <input type="text" id="addressln2" name="addressln2" value="{{ account.addressln2 }}"><br><br>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{ account.email }}"><br><br>

            <label for="number">Phone:</label>
            <input type="text" id="number" name="number" value="{{ account.phone_number }}"><br><br>
        </div>
        <label for="courses">Courses: </label>
            <select name="courses" id="courses" value="courses">
                {% for i in courses  %}
                    <option value={{ i.1 }}>{{ i.0 }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Assign Course">
            &nbsp;
        <label for="labs">Labs: </label>
            <select name="labs" id="labs" value="labs">
                {% for i in labs  %}
                    <option value={{ i.1 }}>{{ i.0 }}</option>
                {% endfor %}
             </select>
            <input type="submit" value="Assign Lab"><br><br>
        <input type="submit" value="Save Edits" name="onclick">
        &nbsp;
        <input type="submit" value="Cancel" name="onclick">
        &nbsp;
        <input type="submit" value="Delete Account" name="onclick">
        &nbsp;
        <input type="submit" value="Create New Account" name="onclick">
        <!--<button type="submit" onclick="window.location.href='/create_account/';" >Create New Account</button>-->
        <div class="logoutLblPos">
            <!--<button type="submit" onclick="window.location.href='/Homepage/';" >Back to Home</button>
            <button type="submit" onclick="window.location.href='';" >Logout</button>-->
            <input type="submit" value="Back to Home" name="onclick">
            <input type="submit" value="Logout" name="onclick">
        </div>
    </form>
</body>
</html>
