{% extends "base.html" %}

{% block content %}
<h1 class="h1Style">Edit Course</h1>
<div class="formStyle">
    <table>
        <tr>
            <td>Title:</td>
            <td>{{ course.title }}</td>
        </tr>
        <tr>
            <td>Designation:</td>
            <td>{{ course.designation }}</td>
        </tr>
        <tr>
            <td>Semester:</td>
            <td>{{ course.semester }}</td>
        </tr>
    </table>
    <br>
    <a href="{% url 'addsection' course=course.designation %}">Add Section</a>
    <br><br>
    <table class="courselists">
        {% if course.sections%}
        <tr>
            <th>Section</th>
            <th>Instructor</th>
            <th>Assign</th>
        </tr>
        {% for s in course.sections %}
        <tr>
            <td>{{ s.section }}</td>
            <td>{% if s.instructor != None %}{{ s.instructor.get_full_name }}{% else %}Staff{% endif %}</td>
            <td><a href="{% url 'addinst' course=course.designation section=s.section%}">Assign Instructor</a></td>
        </tr>
        {% endfor %}
        {% endif %}
        {% if course.labs %}
        <tr>
            <th>Section</th>
            <th>TA</th>
            <th>Assign TA</th>
        </tr>
        {% for s in course.labs %}
        <tr>
            <td>{{ s.section }}</td>
            <td>{% if s.TA != None %}{{ s.TA.get_full_name }}{% else %}Staff{% endif %}</td>
            <td><a href="{% url 'edit' course=course.designation lab=s.section%}">Assign TA</a></td>
        </tr>
        {% endfor %}
        {% endif %}

    </table>

    <a href="{% url 'courses' %}">Go back</a>
    <!--
    <label for="section">Section: </label>
    <select id="sections" name="sections" value="sections">
        {% for i in course.sections  %}
            <option value="{{ i.section }}">{{ i.section }}</option>
        {% endfor %}
    </select>
    <label for="instructor">Instructor:</label>
    <select id="Instructor" name="Instructor" value="instructors">
        {% for i in instructors  %}
            <option value="{{ i.username }}">{{ i.get_full_name }}</option>
        {% endfor %}
    </select>
    <input type="Submit" name="onclick" value="Assign">
    <input type="Submit" name="onclick" value="Add Section"><br><br>

    <label for="Labs">Lab:</label>
    <select id="Labs" name="Lab" value="Labs">
        {% for i in course.labs  %}
            <option value="{{ i.section }}">{{ i.section }}</option>
        {% endfor %}
    </select>
    <label for="TAs">TA:</label>
    <select id="TA" name="TA">
        {% for i in TA  %}
            <option value="{{ i.username }}">{{ i.get_full_name }}</option>
        {% endfor %}
    </select>
    <input type="Submit" name="onclick" value="Assign">
    <input type="Submit" name="onclick" value="Add Lab">
    <input type="Submit" name="onclick" value="Delete Lab"><br><br>

    <input type="submit" value="Create New Course" name="onclick">
    <input type="submit" value="Save Edit" onclick="alert('Edits Saved')" name="onclick">
    <input type="submit" value="Cancel Edit" onclick="alert('Edits Canceled')" name="onclick">
    <input type="submit" value="Delete Course" onclick="confirm('Delete the course?')" name="onclick"><br><br>

    <form action="{%  url 'edit' course=course.designation %}" align="right" method="post">
            {% csrf_token %}
            <label class="logoutLblPos">
                <input type="submit" value="Logout" name="onclick">
            </label>
    </form>
     -->
</div>
{% endblock %}
