<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Edit Account</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>Edit Account</h1>
    <form action="" method="post">
        <label for="username">Username: </label>
        <input type="text" id="username" name="username" value="" readonly><br><br>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="address1">Address line 1:</label>
        <input type="text" id="address1" name="address1"><br><br>
        <label for="address2">Address line 2:</label>
        <input type="text" id="address2" name="address2"><br><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email"><br><br>
        <label for="PhoneNumber">Phone:</label>
        <input type="text" id="PhoneNumber" name="PhoneNumber"><br><br>
        <label for="courses">Courses: </label>
            <select name="courses" id="courses">
                {% for i in courses  %}
                    <option value="{{ i.id }}">{{ i.name }}</option>
                {% endfor %}
            </select>
        <label for="labs">Labs: </label>
            <select name="labs" id="labs">
                {% for i in labs  %}
                    <option value="{{ i.id }}">{{ i.name }}</option>
                {% endfor %}
             </select><br><br>
        <input type="submit" value="Save Edits">
        <input type="submit" value="Cancel">
        <input type="submit" value="Delete Account">
        <button type="submit" onclick="window.location.href='';" >Create New Account</button>
        <button type="submit" onclick="window.location.href='';" >Logout</button>
        <button type="submit" onclick="window.location.href='/Homepage/';" >Back to Home</button>
    </form>
</body>
</html>
