.logoutLblPos{
    position: fixed;
    right: 10px;
    top: 5px;
}
.h1Style{
    font-family: "Bebas Neue";
    text-align: center;
}

.formStyle{
    display: block;
    text-align: center;
}
.selectionStyle{
    display: block;
    width: fit-content;
}
/* the following "container" classes are for styling the text boxes */
.container {
    width: 500px;
    clear: both;
}
.container input {
    width: 100%;
    clear: both;
}
.main {
    width: 100%;
}
.divider {
    width: 5px;
    height: auto;
    display: inline-block;
}

.select {
    width: 150px;
    margin: 10px;
.menu {
    background-color: blue;
    width: 10%;
    float: left;
}
.select focus{
    min-width: 150px;
    width: auto;
}

.center {
    text-align: center;
}